.mac-image {
  margin-right: 4%;
}

.macStore-title {
  color: #212529;
  padding: 4% 0%;
}

.iMac-info {
  color: #38312e;
}

.accessories-title {
  margin-bottom: -15px;
}

hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
